<div class="wrapper">
  <div class="edit">
    <h1>ニックネームを変える</h1>
    <%= form_with model: @profile, local: true do |f| %>
      <%= f.text_field :name %>
      <div>
        <%= f.submit class: "button submit-block" %>
      </div>
    <% end %>
    </div>
  </div>


  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

</div>
